@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@font-face {
  font-family: 'groovyday';
  src: url('/fonts/GroovyDay.ttf');
 }

 .groovyday {
   font-family: 'groovyday';
 }

.flip-card {
  background-color: transparent;
  width: 180px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 180px;
  height: 250px;
  backface-visibility: hidden; 
}

.flip-card-front {
  background-color: #d1a8da;
  color: white;
}

.flip-card-back {
  background-color: #d1a8da;
  color: white;
  transform: rotateY(180deg);
  box-shadow: 5px;
}

.section {
  height: 100vh;
}
.smooth-float {
  transition: transform 0.3s ease-in-out; /* */
}
.smooth-float:hover {
  transform: translateY(20px);
}

.smooth-float-up {
  transition: transform 0.3s ease-in-out; /* */
}
.smooth-float-up:hover {
  transform: translateY(-20px);
}

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: #e3c7ef;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffdcc6; 
  border-radius: 10px;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: url("/assets/rm456-004.jpg");
  color: var(--foreground);
  font-family: sans-serif, sans-serif;
}
